[submodule "CrocoDash/regional_casegen"]
	path = CrocoDash/regional_casegen
	url = https://github.com/CROCODILE-CESM/regional-casegen/
[submodule "CrocoDash/rm6"]
	path = CrocoDash/rm6
	url = https://github.com/CROCODILE-CESM/regional-mom6/
[submodule "CrocoDash/visualCaseGen"]
	path = CrocoDash/visualCaseGen
	url = https://github.com/CROCODILE-CESM/visualCaseGen.git
