[submodule "crocodileregionalruckus/regional_casegen"]
	path = crocodileregionalruckus/regional_casegen
	url = https://github.com/CROCODILE-CESM/regional-casegen
[submodule "crocodileregionalruckus/rm6"]
	path = crocodileregionalruckus/rm6
	url = https://github.com/CROCODILE-CESM/regional-mom6
